.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f9b728;
    position: relative;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #f9b728;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #f9b728;
    border-radius: 50%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #eff8ff, #2bbce4);
    padding: 20px;
    font-family: sans-serif;
}

.game-area {
    background-color: white;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 16px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-catch,
.btn-start {
    font-size: 30px;
    background-color: #43ac74;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-catch:hover{
    background-color: #2f855a;
}

.btn-start {
    background-color: #ff71d2;
    margin-top: 10px;
}

.btn-start:hover {
    background-color: #df7abf;
}

button:active {
  transform: scale(0.95);
}

.stats {
    text-align: center;
    font-size: 18px;
    color: #333;
}

.box{
    flex: 1;
    width: 8rem;
    height: 8rem;
    border: 2px solid #fd60cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.game-area, .btn-start {
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.message {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  height: 50px;
}
